<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="WebServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WebServiceSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.10.6:8003/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://172.18.201.6:8004/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoap1"
                contract="ServiceReference2.WebServiceSoap" name="WebServiceSoap1" />        
        </client>
    </system.serviceModel>
    <appSettings>
    <!--服务器IP -->
    <add key="ServerIP" value="172.18.203.164"/>
    <!--服务器端口-->
    <add key="ServerPort" value="4540"/>
    </appSettings>
</configuration>